body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #D4A6A1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6A4C57;
    height: 150px;
    color: white;
    padding: 20px;
}

/* General Button Styles */
button {
    background-color: transparent; /* Transparent background */
    color: #D4A6A1; /* Dark mauve text */
    border: 2px solid #6A4C57; /* Dusky rose colored outline */
    padding: 12px 24px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 0; /* Sharp corners */
}

/* Hover Effects */
button:hover {
    transform: scale(1); /* Button grows slightly on hover */
    color: white; /* Text turns white on hover */
    font-size: 22px; /* Font size increases on hover */
}

/* Active Effects - When the button is clicked */
button:active {
    transform: scale(1);
    background-color: #6A4C57; /* Dark mauve background when clicked */
    color: white; /* Text turns white on active */
}
